body{
	font-family: "微软雅黑";
}
.changjing{
	/*padding: 10px;*/
	box-shadow: 0 0 10px inset;
	width: 600px;
	height: 600px;
	border: 1px solid black;
	margin: 0 auto;
	background:url("../img/1.jpg") repeat;
	border-top: none;
	border-left: none;
	position: relative;
}
#over{
   width: 600px;
	height: 600px;
	background:black;
	opacity: 0.85;
	font-size: 40px;
	text-align: center;
	line-height: 500px;
	font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: none;
}
#again{
	width: 200px;
	height: 60px;
	background: rgb(67, 67, 206);
	color: white;
	text-align: center;
	line-height: 60px;
	font-size: 40px;
	border-radius: 6px;
	position: absolute;
	top: 400px;
	left:200px;
	font-weight: normal;
	z-index: 3435;
}



.block{
	width: 59px;
	height: 59px;
	margin-left: 1px;
	margin-top: 1px;
	float: left;
	border-radius: 50%;
	/*background: white;*/

}
.se{
	width: 59px;
	height: 59px;
}
#start{
	width: 70px;
	height: 30px;
	background: red;
	border-radius: 6px;
	color: white;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: 610px;
	left: 385px;
	cursor: pointer;
}